/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');*/

body {
    /*margin-left: 28px;
    margin-right: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a2c2c;
    background: #f3f7f7;
    background-image: url();
    background-position: top left;
 background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
    */
    padding-top:54px;
   
}
/*@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }*/
}
.container-img {
    width: 150px;
    height: 150px;
}

    .container-img img {
        width: 150px;
        height: auto;
    }

#txtGreeting {
    color: #114655;
    font-size: 3rem;
    font-weight: bolder;
    padding: 20px;
    text-shadow: 6px 4px 16px #000;
}

.red_color {
    color: #ff0000
}
.blue_color{
    color:#2b63d8
}

#txt {
    color: #07374d;
    font: bold 18px arial, verdana;
    padding:30px;
}
strong {
    font-weight: bold;
}
#col-p{
    padding:15px 15px 1px 5px;
}
.link-text{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
#mycard {
    box-shadow: 0 0 25px gray, 0 0 5px darkgray;
    transition: all .3s ease-in-out;
}
#mycard:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.button-link {
    background: none !important;
    color: #007bff;
    border: none;
    padding: 1 !important;
    font: inherit;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
   
}
.modal-header, .modal-footer{
    background-color:#d8e8f3;
}