<!-- section -->
<div class="section">
    <div class="container">
        <h1>
            <div class="sofia" id="txtGreeting"></div>
        </h1>
    </div>
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--Column 1 'Contact info' xl, sm, md, lg, xl-->
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="container-img mx-auto text-center">
                    <img id="myImg" class="img-responsive" src="/images/profilepicture.jpg" />
                </div>
                </br>
                </br>
                <h3 class="sofia">
                    <strong>Oleg Roshchuk</strong>
                </h3>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h4>About Me</h4>
                <p>

                    <i>A person always strives for knowledge. Me personally? I like to research many interesting things. This includes Nutrition. Therefore, I created this website so that I could show my love for knowledge through computer code! </i>
                </p>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-6 col-xs-12">
                <h4>About</h4>
                <div class="nav-logo">
                    <a href="/" class="logo">
                        <h3 style="float:left; color:green;padding-top:20px;">GREEN</h3>
                        <h5 style="float:right; color:blueviolet; padding-top:20px;">man</h5>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div>
                    Welcome to GreenMan, your number one source for information about Vegetables and Fruits. We're dedicated to giving you the very best Experience, with a focus on Information, Nutrition, and Aesthetic design. Founded in 2019 by Oleg Roshchuk, GreenMan has
                    come a long way from its beginnings in a home office. When Oleg Roshchuk first started out, his passion for Web Development and a Healthy Lifestyle drove him to research and program 24/7, gaving him the impetus to turn hard work and
                    inspiration into to a booming Informational Website. We hope you enjoy the information and Aesthetics of this website. If you have any questions or comments, please don't hesitate to contact us.
                    <br><strong><i>Sincerely, Oleg Roshchuk</i></strong>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->