<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('images/mushrooms/mushroom_header.jpg');"></div>
</div>
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="animate one-white">
                            <div class="post post-thumb znak">
                                <a class="post-img" href="javascript:void(0);"><img src="/images/mushrooms/mushroom_magic.jpeg" alt=""></a>
                                <div class="post-body">
                                    <div class="post-title">

                                        <h3>
                                            <span>T</span><span>h</span><span>e</span> &nbsp;
                                            <span>M</span><span>a</span><span>g</span><span>i</span><span>c</span> &nbsp;
                                            <span>o</span><span>f</span> &nbsp;
                                            <span>M</span><span>u</span><span>s</span><span>h</span><span>r</span><span>o</span><span>o</span><span>m</span><span>s</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="#"><img src="/images/mushrooms/destroying-angel.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-5" href="#">Poisonous Mushrooms</a>
                                </div>
                                <h3 class="post-title cutive"><a style="color:red;" href="#">The Destroying Angels</a></h3>
                                <p class="cutive">They contain lethal doses of amatoxins and are responsible for a large proportion of all mushroom related deaths. The initial symptoms of cramps, delirium, convulsions, vomiting and diarrhea appear with a day of ingestion.
                                    Unfortunately, by this time the toxins may have been absorbed causing irreversible destruction of the kidney and, particularly, liver tissue. At this point a liver transplant may be the only option if the patient is
                                    to survive</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="#"><img src="/images/mushrooms/best_mushroom.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="#">Good Mushrooms</a>
                                </div>
                                <h3 class="post-title cutive"><a style="color:green;" href="">The Best Mushrooms</a></h3>
                                <p class="cutive">Lactarius deliciosus, commonly known as the saffron milk cap and red pine mushroom, is one of the best known members of the large milk-cap genus Lactarius in the order Russulales. It is found in Europe and has been accidentally
                                    introduced to other countries under conifers and can be found growing in pine plantations. A fresco in the Roman town of Herculaneum appears to depict Lactarius deliciosus and is one of the earliest pieces of art to
                                    illustrate a fungus</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                    <div class=" col-md-12">
                        <div class="animate five">
                            <h4>
                                <span>T</span><span>h</span><span>i</span><span>s</span>&nbsp;
                                <span>M</span><span>u</span><span>s</span><span>h</span><span>r</span><span>o</span><span>o</span><span>m</span>&nbsp;
                                <span>S</span><span>a</span><span>r</span><span>t</span><span>s</span>&nbsp;
                                <span>K</span><span>i</span><span>l</span><span>l</span><span>i</span><span>g</span>&nbsp;
                                <span>Y</span><span>o</span><span>u</span>&nbsp;
                                <span>B</span><span>e</span><span>f</span><span>o</span><span>r</span><span>e</span>&nbsp;
                                <span>Y</span><span>o</span><span>u</span>&nbsp;
                                <span>E</span><span>v</span><span>e</span><span>n</span>&nbsp;
                                <span>R</span><span>e</span><span>a</span><span>l</span><span>i</span><span>z</span><span>e</span>&nbsp;
                                <span>I</span><span>t</span>

                            </h4>

                            <div class="embed-responsive embed-responsive-16by9 znak">
                                <iframe id="videoFrame" src="https://www.youtube.com/embed/bl9aCH2QaQY"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-md visible-lg"></div>
                </div>
            </div>
            <!--aside-->
            <div class="col-md-4">

                <!-- right side -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Be Carful</h2>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img" href="#"><img src="/images/fruit/poison_fruits.jpg" alt=""></a>
                        <div class="post-body">
                            <p class="cutive">Each year, hundreds of children in India alone may be hospitalized with fever, convulsions and seizures. A recent report revealed they are probably due to toxins from unripe lychees.</p>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img" href="#"><img src="/images/cassava.jpg" alt=""></a>
                        <div class="post-body">
                            <p class="cutive">Well-known in Africa, South America and parts of Asia, cassava is the third most important source of calories in these regions after maize and rice, according to the World Bank, feeding more than 600 million people globally
                                each day. Also known as yucca, it is a root vegetable that is delicious fried, boiled or baked, harnessing a gummy, starchy texture. It's also ground into a flour. But the staple can be poisonous if not processed properly</p>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img" href="#"><img src="/images/starfruit.jpg" alt=""></a>
                        <div class="post-body">
                            <p class="cutive">This fruit originates in Asia and gets its name from its shape. It is used as a herbal remedy for a range of ailments in certain parts of the tropics, but if consumed by someone with kidney disease, it can be fatal.
                            </p>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img" href="#"><img src="/images/cycad_plants.jpg" alt=""></a>
                        <div class="post-body">
                            <p class="cutive">Cycad plants -- including the sago palm -- are ancient plants widely grown throughout the world, according to Spencer, and are a common source of food and medicine. But like cassava, they require extensive processing to remove
                                a range of toxins that they naturally contain.</p>
                        </div>
                    </div>
                    <div class="post post-widget">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="videoFrame" src="https://www.youtube.com/embed/QD8sF06FJDY"></iframe>
                        </div>
                        <div class="post-body">
                            <p class="cutive">Cycad plants -- including the sago palm -- are ancient plants widely grown throughout the world, according to Spencer, and are a common source of food and medicine. But like cassava, they require extensive processing to remove
                                a range of toxins that they naturally contain.</p>
                        </div>
                    </div>
                </div>
                <!-- /post widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->