<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- row -->
            <!--cashew start-->
            <div class="col-md-12">
                <div class="animate three">
                    <h1>
                        <span>C</span><span>A</span><span>S</span><span>H</span><span>E</span><span>W</span>
                    </h1>
                </div>
            </div>
            <!-- post -->
            <div class="col-lg-12 col-md-12  hidden-sm hidden-xs">
                <div class="post post-thumb">
                    <a class="" href="#"><img class="img-responsive" src="/images/nuts/cashew_blooming.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="row post-widget">
                            <div class="col-lg-4 col-md-4">
                                <a class="" href="#"></a><img class="img-responsive" style="border:2px solid whitesmoke;" src="/images/nuts/cashew_tree.jpg" alt=""></a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a class="" href="#"></a><img class="img-responsive" style="border:2px solid whitesmoke;" src="/images/nuts/cashew_nut.jpg" alt=""></a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a class="" href="#"></a><img class="img-responsive" style="border:2px solid whitesmoke;" src="/images/nuts/cashew_apple.jpg " alt=""></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img src="/images/nuts/cashew_blooming.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp; Wild cashew tree blooms </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img src="/images/nuts/cashew_tree.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp;Cashew nuts growing on a tree. </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-sm hidden-lg hidden-md"></div>
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img src="/images/nuts/cashew_nut.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp; Wild cashew tree blooms </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img src="/images/nuts/cashew_apple.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp;Cashew nuts growing on a tree. </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-sm hidden-lg hidden-md"></div>
            <!--cashew end-->

            <!--hazelnuts start-->
            <div class="col-md-12">
                <div class="animate six">
                    <h1>
                        <span>H</span><span>A</span><span>Z</span><span>E</span><span>L</span><span>N</span><span>U</span><span>T</span><span>S</span>
                    </h1>
                </div>
            </div>
            <!-- post -->
            <div class="col-lg-12 col-md-12  hidden-sm hidden-xs">
                <div class="post post-thumb">
                    <a class="" href="#"><img class="img-responsive" src="/images/nuts/tree_hazelnuts.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="row post-widget">
                            <div class="col-lg-4 col-md-4">
                                <a class="" href="#"></a><img class="img-responsive" src="/images/nuts/hazelnuts_nuts.png" alt=""></a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a class="" href="#"></a><img class="img-responsive" style="border:2px solid whitesmoke;" src="/images/nuts/hazelnuts_on_tree.jpg" alt=""></a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a class="" href="#"></a><img class="img-responsive" src="/images/nuts/hazelnut_nuts.png " alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img class="img-responsive" src="/images/nuts/hazelnuts_on_tree.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp;Hazelnuts are growing on a tree </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img class="img-responsive" src="/images/nuts/tree_hazelnuts.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp;Hazelnut tree </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-sm hidden-lg hidden-md"></div>
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img class="img-responsive" src="/images/nuts/hazelnuts_nuts.png" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp;Hazelnuts in the shell </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-xs-12 col-sm-6 hidden-lg hidden-md">
                <div class="post">
                    <a class="post-img img-container" href="#"><img class="img-responsive" src="/images/nuts/hazelnut_nuts.png" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h4>&nbsp;&nbsp;Raw hazelnuts without the shell</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-sm hidden-lg hidden-md"></div>
            <!--hazelnats end-->


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->