			   
			 
	<!-- Page Header -->
	<div id="post-header" class="page-header">
		<div class="background-img" style="background-image: url('images/vegetables/mixed_greens.jpg');"></div>				
	</div>
	<!-- /Page Header -->

			 <div class="container">
                <!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Green Vegetables</h2>
						</div>
					</div>

					<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="#"><img src="/images/vegetables/green/arugula_0.jpeg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">ARUGULA</a>
									<span class="post-date"></span>
								</div>
								<h3 class="post-title"><a href="https://www.nutritionvalue.org/Arugula%2C_raw_nutritional_value.html">Arugula, raw nutrition facts and analysis per servign</a></h3>
							</div>
						</div>
					</div>
					<!-- /post -->
			
					<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="#"><img src="/images/vegetables/green/bok_choy_0.jpeg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">BOK CHOY</a>
									<span class="post-date">March 27, 2018</span>
								</div>
								<h3 class="post-title"><a href="#">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
							</div>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="#"><img src="/images/vegetables/green/broccoli_ rabe_0.jpeg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">BROCCOLI RABE</a>
									<span class="post-date">March 27, 2018</span>
								</div>
								<div class="post-title">
									<h4>
										Rapini, commonly marketed in the United States as broccoli raab or broccoli rabe <i>/rɑːb/</i>,
									    is a green cruciferous vegetable. 
									</h4>
									<p class="text-info">
										<a  href="https://www.nutritionvalue.org/Broccoli_raab%2C_raw_nutritional_value.html">									
										<h4><i class="text-info">Broccoli raab, raw nutrition facts and analysis per serving</i></h4>
									    </a>
								    </p>
							    </div>
							</div>
						</div>
					</div>
					<!-- /post -->
					<div class="clearfix visible-md visible-lg"></div>
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="#"><img src="/images/vegetables/green/broccoli_0.jpeg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="#">BROCCOLI</a>
										<span class="post-date">March 27, 2018</span>
									</div>									
									<h3 class="post-title"><a href="https://www.nutritionvalue.org/Broccoli%2C_raw_nutritional_value.html">Broccoli, raw nutrition facts and analysis per serving</a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->
	
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="#"><img src="/images/vegetables/green/broccolini_0.jpeg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="#">GROCCOLINI</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="#">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->
	
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="#"><img src="/images/vegetables/green/collard_greens_0.jpeg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="#">COLLARD GREENS</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="#">Ask HN: Does Anybody Still Use JQuery?</a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->

						<div class="clearfix visible-md visible-lg"></div>
							<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="#"><img src="/images/vegetables/green/dark-green_leafy_lettuce_0.jpeg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">DARK GREEN LEAFY LETTUCE</a>
									<span class="post-date">March 27, 2018</span>
								</div>
								<h3 class="post-title"><a href="#">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
							</div>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="#"><img src="/images/vegetables/green/escarole_0.jpeg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">ESCAROLE</a>
									<span class="post-date">March 27, 2018</span>
								</div>
								<h3 class="post-title"><a href="#">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
							</div>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="#"><img src="/images/vegetables/green/kale_0.jpeg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">KALE</a>
									<span class="post-date">March 27, 2018</span>
								</div>
								<h3 class="post-title"><a href="#">Ask HN: Does Anybody Still Use JQuery?</a></h3>
							</div>
						</div>
					</div>
					<!-- /post -->

					 <div class="clearfix visible-md visible-lg"></div>
					 
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="#"><img src="/images/vegetables/green/mustard_greens_0.jpeg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="#">MUSTARD GREENS</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="#">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->
	
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="#"><img src="/images/vegetables/green/romaine_lettuce_0.jpeg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="#">ROMAINE LETTUCE</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="#">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->
	
						<!-- post -->
						<div class="col-md-4">
							<div class="post">
								<a class="post-img" href="#"><img src="/images/vegetables/green/spinach_0.jpeg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="#">SPINACH</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="#">Ask HN: Does Anybody Still Use JQuery?</a></h3>
								</div>
							</div>
						</div>
						<!-- /post -->

						<div class="clearfix visible-md visible-lg"></div>

							<!-- post -->
							<div class="col-md-4">
								<div class="post">
									<a class="post-img" href="#"><img src="/images/vegetables/green/swiss-chard_0.jpeg" alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-1" href="#">SWISS CHARD</a>
											<span class="post-date">March 27, 2018</span>
										</div>
										<h3 class="post-title"><a href="#">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
									</div>
								</div>
							</div>
							<!-- /post -->
		
							<!-- post -->
							<div class="col-md-4">
								<div class="post">
									<a class="post-img" href="#"><img src="/images/vegetables/green/turnip-greens_0.jpeg" alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-1" href="#">TURNIP GREENS</a>
											<span class="post-date">March 27, 2018</span>
										</div>
										<h3 class="post-title"><a href="#">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
									</div>
								</div>
							</div>
							<!-- /post -->
		
							<!-- post -->
							<div class="col-md-4">
								<div class="post">
									<a class="post-img" href="#"><img src="/images/vegetables/green/watercress_0.jpeg" alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-1" href="#">WATERCRESS</a>
											<span class="post-date">March 27, 2018</span>
										</div>
										<h3 class="post-title"><a href="#">Ask HN: Does Anybody Still Use JQuery?</a></h3>
									</div>
								</div>
							</div>
							<!-- /post -->
				</div>
                <!-- /row -->
			</div> 
			<!--
				https://www.choosemyplate.gov/myplate/vegetables/gallery/Dark-Green%20Vegetables
			-->