<!-- section -->
<div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>Orange Vegetables</h2>
                  </div>
                </div>
                <!-- post -->
                <div class="col-md-12">
                  <div class="post post-row">
                    <a class="post-img" href="#"><img src="/images/vegetables/orange/pumpkin.jpeg" alt=""></a>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-2" href="#">PUMPKIN</a>                   
                      </div>
                      <h3 class="post-title"><a style="color:rgb(209, 105, 9);" href="https://www.nutritionvalue.org/Pumpkin%2C_raw_nutritional_value.html">Pumpkin, raw nutrition facts and analysis per serving</a></h3>
                      <p>Pumpkins are believed to have originated in North America.
                         Seeds from related plants have been found in Mexico dating back to 7000 to 5500 B.C. 
                         References to pumpkins date back many centuries. 
                        The name pumpkin originated from the Greek word for "large melon" which is "pepon."</p>
                    </div>
                  </div>
                </div>
                <!-- /post -->
    
                <!-- post -->
                <div class="col-md-12">
                  <div class="post post-row">
                    <a class="post-img" href="#"><img src="/images/vegetables/orange/sweet_potatoes.jpeg" alt=""></a>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-2" href="#">SWEET POTATOS</a>
                      </div>
                      <h3 class="post-title"><a style="color:rgb(209, 105, 9);" href="https://www.nutritionvalue.org/Sweet_potato%2C_unprepared%2C_raw_nutritional_value.html">Sweet potato, unprepared, raw nutrition facts and analysis per serving</a></h3>
                      <p>Origin. The origin and domestication of sweet potato occurred in either Central or South America. 
                        In Central America, domesticated sweet potatoes were present at least 5,000 years ago. ... 
                        The cultigen was most likely spread by local people to the Caribbean and South America by 2500 BCE.</p>
                    </div>
                  </div>
                </div>
                <!-- /post -->
    
                <!-- post -->
                <div class="col-md-12">
                  <div class="post post-row">
                    <a class="post-img" href="#"><img src="/images/vegetables/orange/carrots.jpeg" alt=""></a>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-2" href="#">CARROTS</a>               
                      </div>
                      <h3 class="post-title"><a style="color:rgb(209, 105, 9);" href="https://www.nutritionvalue.org/Carrots%2C_raw_nutritional_value.html">Carrots, raw nutrition facts and analysis per serving</a></h3>
                      <p>Carrots are a domesticated form of the wild carrot,
                         Daucus carota, native to Europe and southwestern Asia.
                         The plant probably originated in Persia and was originally cultivated for its leaves and seeds.</p>
                    </div>
                  </div>
                </div>
                <!-- /post -->
                
                <!-- post -->
                <div class="col-md-12">
                  <div class="post post-row">
                    <a class="post-img" href="#"><img src="/images/vegetables/orange/butternut_squash.jpeg" alt=""></a>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-2" href="#">BUTTERNUT SQUASH</a>
                      </div>
                      <h3 class="post-title"><a style="color:rgb(209, 105, 9);" href="https://www.nutritionvalue.org/Squash%2C_raw%2C_butternut%2C_winter_nutritional_value.html">Squash, raw, butternut, winter nutrition facts and analysis per serving</a></h3>
                      <p>History of Cucurbita Moschata (Butternut Squash)
                         The apple of God was an expression given to the squash by the Native North American Indians. 
                        They believed squash seed would increase fertility if they were planted close by from the settlement.</p>
                    </div>
                  </div>
                </div>
                <!-- /post -->
                 <!-- post -->
                 <div class="col-md-12">
                        <div class="post post-row">
                          <a class="post-img" href="#"><img src="/images/vegetables/orange/acorn_squash.jpeg" alt=""></a>
                          <div class="post-body">
                            <div class="post-meta">
                              <a class="post-category cat-2" href="#">ACORN SQUASH</a>
                            </div>
                            <h3 class="post-title"><a style="color:rgb(209, 105, 9);" href="https://www.nutritionvalue.org/Squash%2C_raw%2C_acorn%2C_winter_nutritional_value.html">Squash, raw, acorn, winter nutrition facts and analysis per serving</a></h3>
                            <p>Acorn squash are indigenous to the western hemisphere,
                               so they were not known to Europeans until after the voyages of Columbus.
                                Nevertheless pre-Columbian Americans had been using squash as a food source for as much as eight-thousand years.
                               The acorn squash probably originated in Mexico and Central America.</p>
                          </div>
                        </div>
                      </div>
                      <!-- /post -->               
            </div>
        </div>
     </div>
 </div>
