<!-- Page Header -->
<div id="post-header" class="page-header">
		<div class="background-img" style="background-image: url('images/vegetables/red/red_tomatoes_main.jpg');"></div>				
	</div>
    <!-- /Page Header -->
    <div class="container">
            <!-- row -->
        <div class="row">
            <div class="row col-md-8">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Red Vegetables</h2>
                    </div>
                </div>

                <!-- post -->
                <div class="col-md-12">
                    <div class="post">
                        <a class="post-img" href="#"><img src="/images/vegetables/red/chili_peppers.jpeg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-5" href="#">ARUGULA</a>
                                <span class="post-date"></span>
                            </div>
                            <h3 class="post-title"><a href="https://www.nutritionvalue.org/Arugula%2C_raw_nutritional_value.html">Arugula, raw nutrition facts and analysis per servign</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /post -->
        
                <!-- post -->
                <div class="col-md-12">
                    <div class="post">
                        <a class="post-img" href="#"><img src="/images/vegetables/red/red_bell_peppers.jpeg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-5" href="#">BOK CHOY</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="#">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /post -->

                <!-- post -->
                <div class="col-md-12">
                    <div class="post">
                        <a class="post-img" href="#"><img src="/images/vegetables/red/red_tomatoes.jpeg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-5" href="#">BROCCOLI RABE</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <div class="post-title">
                                <h4>
                                    Rapini, commonly marketed in the United States as broccoli raab or broccoli rabe <i>/rɑːb/</i>,
                                    is a green cruciferous vegetable. 
                                </h4>
                                <p class="text-info">
                                    <a  href="https://www.nutritionvalue.org/Broccoli_raab%2C_raw_nutritional_value.html">									
                                    <h4><i class="text-info">Broccoli raab, raw nutrition facts and analysis per serving</i></h4>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /post -->
            </div>
        </div>
    </div>


                