<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('images/vegetables/red/red_tomatoes_main.jpg');"></div>
</div>
<!-- /Page Header -->
<div class="container">
    <!-- row -->
    <div class="row">

        <div class="col-md-12">
            <div class="section-title">
                <h1 style="color:rgb(121, 12, 12)">Red Vegetables</h1>
            </div>
        </div>
        <!-- post -->
        <div class="row">
            <div class="col-md-12">
                <div class="post post-thumb">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/chilies-on-farm.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">
                                Chilies pepper on farm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
        </div>
        <!-- /row -->
        <!-- post -->
        <div class="row">
            <div class="col-md-4">
                <div class="post post-thumb">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/Chili-Red-Hot-Pepper.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">
                                Red Hot Chili Pepper
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-md-4">
                <div class="post post-thumb">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/thai-hot-pepper.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">
                                Red Hot Thai Pepper
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- post -->
            <div class="col-md-4">
                <div class="post post-thumb">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/habanero-red-pepper.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">
                                Habanero Red Pepper
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <!-- post -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="post">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/chili_peppers.jpeg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">CHILI PEPERS</a>
                        </div>
                        <div class="post-title">
                            <p style="color:rgb(121, 12, 12)">
                                Chilies were grown and cultivated from 3500 BC. Mexicans used it to spice up their food.
                                Chili was brought to the rest of the world by Christopher Columbus who discovered
                                America in 1493.
                                Christopher had set from Spain to reach India to bring spices such as pepper back to his
                                country.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-xs"></div>
            <!-- post -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="post">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/red_bell_peppers.jpeg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">RED BELL PEPPERS</a>
                        </div>
                        <div class="post-title">
                            <p style="color:rgb(121, 12, 12)">
                                Bell peppers are sometimes grouped with less pungent pepper varieties as "sweet
                                peppers".
                                Peppers are native to Mexico, Central America, and northern South America.
                                Pepper seeds were imported to Spain in 1493, and from there, spread to Europe and Asia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-sm"></div>
            <!-- post -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="post">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/red_tomatoes.jpeg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">RED TOMATOES</a>
                        </div>
                        <div class="post-title">
                            <p style="color:rgb(121, 12, 12)">
                                The Tomato History has origins traced back to the early Aztecs around 700 A.D;
                                therefore it is believed that the tomato is native to the Americas.
                                It was not until around the 16th century that Europeans were introduced to this fruit
                                when the early explorers set sail to discover new lands.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-md"></div>
            <!-- post -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="post">
                    <a class="post-img" href="#"><img src="/images/vegetables/red/red-cherry-pepper.png" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-5" href="#">RED CHERRY PEPPERS</a>
                        </div>
                        <div class="post-title">
                            <p style="color:rgb(121, 12, 12)">
                                Red Cherry chile peppers are believed to be native to Mexico, South America and
                                Central America from there they made their way first to the West Indies and later to
                                England in 1759.
                                Red Cherry peppers have been cultivated and mentioned as early as 1586 in botanical
                                texts.
                                It also appears illustrated in the herbal text Besler’s Celeberrimi Eystetensis in
                                1613.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
        </div>
        <!-- /row -->
    </div>
</div>