<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('images/vegetables/mixed_greens.jpg');"></div>
</div>
<!-- /Page Header -->

<div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <div class="animate seven">
                    <span>G</span><span>e</span><span>e</span><span>n</span><span>s</span> &nbsp;
                    <span>V</span><span>e</span><span>g</span><span>e</span><span>t</span><span>a</span><span>b</span><span>e</span><span>s</span>
                </div>
            </div>
        </div>

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/arugula_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">ARUGULA</a>
                        <span class="post-date"></span>
                    </div>
                    <div class="post-title">
                        <h4>
                            Native to the Mediterranean region, arugula blossoms and leaves have long been a popular ingredient in the cuisines of Italy, Morocco, Portugal and Turkey. In ancient Rome and Egypt consumption of arugula leaves and seeds were associated with aphrodisiac
                            properties.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Arugula%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>
										Arugula, raw nutrition facts and analysis per serving
				                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/bok_choy_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">BOK CHOY</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Bok choy is one of the most important Asian greens available. Several varieties of this Brassica, a relative of the cabbage, are grown throughout China, Korea and neighboring countries, where it has been eaten for centuries.
                        </h4>
                        <p>
                            <a href="https://www.nutrition-and-you.com/bok-choy.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>
                                    Bok Choy nutrition facts
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/broccoli_ rabe_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">BROCCOLI RABE</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Rapini, commonly marketed in the United States as broccoli raab or broccoli rabe
                            <i>/rɑːb/</i>, is a green cruciferous vegetable.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Broccoli_raab%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>
                                    Broccoli raab, raw nutrition facts and analysis per serving
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-md visible-lg"></div>
        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/broccoli_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">BROCCOLI</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Broccoli, Brassica oleracea, variety italica, form of cabbage, of the mustard family (Brassicaceae), grown for its edible flower buds and stalk. Native to the eastern Mediterranean and Asia Minor, sprouting broccoli was cultivated in Italy in ancient
                            Roman times and was introduced to England and America in the 1700s.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Broccoli%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Broccoli, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/broccolini_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">BROCCOLINI</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Broccolini was originally developed over eight years by the Sakata Seed Company of Yokohama, Japan in Salinas, California in 1993 as "aspabroc". It was developed as a natural hybrid rather than being genetically modified. Broccolini is not only generally
                            agreed to be sweeter in taste than your regular broccoli, it's also a healthy option for your body. It's a good source of vitamin A, folate, iron and potassium.
                        </h4>
                        <p>
                            <a href="https://www.nutritionix.com/i/nutritionix/broccolini-8-stalks/56df470915264c49342b8c50" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Broccolini Nutrition Facts</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/collard_greens_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">COLLARD GREENS</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Collard greens are a broad-leafed vegetable of the Brassica oleracea species, which also includes broccoli, Brussels sprouts, cabbage, and kale. Collard greens are a cool season vegetable that can be harvested into early winter. The name "collard" comes
                            from the word "colewort" (the wild cabbage plant).
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Collards%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Collards, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <div class="clearfix visible-md visible-lg"></div>
        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/dark-green_leafy_lettuce_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">GREEN LEAFY LETTUCE</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Common lettuce, Lactuca sativa, has its origins in the Middle East. Egyptian wall murals of Min, the god of fertility, depict lettuce in cultivation in about 2700 B.C. The erect plant — similar to modern romaine, with a thick stem and milky sap — had
                            sexual connotations. Min consumed lettuce as a sacred food for sexual stamina, and ordinary Egyptians used the oil of the wild seeds for medicine, cooking, and mummification.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Lettuce%2C_raw%2C_green_leaf_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Lettuce, raw, green leaf nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/escarole_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">ESCAROLE</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            The origin of escarole is Europe although some have thought it to be native to Sicily. It is a widely distributed plant. It is not known when escarole was first used in the U.S., but in 1806 the green curled and the broad-leaved types were mentioned as
                            being in cultivation, used primarily a salad plant.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Escarole%2C_no_salt_added%2C_drained%2C_boiled%2C_cooked_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Escarole, no salt added, drained, boiled, cooked nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/kale_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">KALE</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Kale originated in the eastern Mediterranean and Asia Minor, where it was cultivated for food beginning by 2000 B.C. at the latest. Curly-leaved varieties of cabbage already existed along with flat-leaved varieties in Greece in the 4th century BC.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Kale%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Kale, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <div class="clearfix visible-md visible-lg"></div>

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/mustard_greens_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">MUSTARD GREENS</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            They originated in the Himalayan region of India more than 5,000 years ago. The first varietal differentiation of mustard greens was cultivated in China near Sichuan. Like almost all leafy green vegetables, mustard greens contain antioxidants that protect
                            your body from free radical damage. They’re also a great source of fiber, which helps to regulate your digestive tract and lower high cholesterol levels.
                        </h4>
                        <p>
                            <a href="https://nutritiondata.self.com/facts/vegetables-and-vegetable-products/2489/2" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Mustard greens nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/romaine_lettuce_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">ROMAINE LETTUCE</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Lettuce was first cultivated in ancient Egypt for the production of oil from its seeds. This plant was probably selectively bred by the Egyptians into a plant grown for its edible leaves, with evidence of its cultivation appearing as early as 2680 BC.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Lettuce%2C_raw%2C_cos_or_romaine_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Romaine lettuce, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/spinach_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">SPINACH</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Spinach is thought to have originated in ancient Persia (modern Iran and neighboring countries). The plant was subsequently introduced to ancient China, where it was known as "Persian vegetable"
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Spinach%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Spinach, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <div class="clearfix visible-md visible-lg"></div>

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/swiss-chard_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">SWISS CHARD</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Swiss chard is a cold tolerant biennial that is closely related to the beet. It is native to southern Europe and much older than the beet. It is believed to have developed from a form of wild beet thousands of years ago. White, yellow and dark green forms
                            of chard have been known since ancient times
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Chard%2C_raw%2C_swiss_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Swiss chard, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/turnip-greens_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">TURNIP GREENS</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            Turnip, (Brassica rapa, variety rapa), also known as white turnip, hardy biennial plant in the mustard family (Brassicaceae), cultivated for its fleshy roots and tender growing tops. The turnip is thought to have originated in middle and eastern Asia
                            and is grown throughout the temperate zone.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Turnip_greens%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Tubnip greens, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-container" href="#"><img src="/images/vegetables/green/watercress_0.jpeg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">WATERCRESS</a>
                    </div>
                    <div class="post-title">
                        <h4>
                            It is reported that Nicholas Messier first grew watercress in Erfurt, Germany, in the middle of the 16th century. English cultivation started in early 1800, when a farmer near London began to popularize watercress as a salad ingredient. It was not long
                            before it became increasingly difficult to meet the rather sudden increase in demand for watercress.
                        </h4>
                        <p>
                            <a href="https://www.nutritionvalue.org/Watercress%2C_raw_nutritional_value.html" class="btn-resp btn-default btn-transparent" role="button">
                                <span>Watercress, raw nutrition facts and analysis per serving</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
    </div>
    <!-- /row -->
</div>