
<head>
    <meta charset = "UTF-8" />
    <title><%= title %></title>
    <meta name="description" content="Less than three hours from Seattle, an alpine landscape beckons.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <meta name="author" content="Oleg Roshchuk" />
    <meta name="keywords" content="HTML, CSS, XML, JavaScript" />

    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head> 