<!DOCTYPE html>
<html>

<head>
    <title>Green Man</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
        <%/* <meta name="robots" content="noindex"> */%>


            <!--
        Stylesheets and Preprocessors
        ==============================     
    -->

            <!--STYLES-->
            <link rel="stylesheet" href="/styles/add_style.css">
            <link rel="stylesheet" href="/styles/bootstrap.min.css">
            <link rel="stylesheet" href="/styles/font-awesome.min.css">
            <link rel="stylesheet" href="/styles/importer.css">
            <link rel="stylesheet" href="/styles/style.css">
            <!--STYLES END-->

</head>

<body>
    <!-- Header -->
    <header id="header">
        <!-- Nav -->
        <div id="nav">
            <!-- Main Nav -->
            <div id="nav-fixed">
                <div class="container">
                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="/" class="logo">
                            <h3 style="float:left; color:green;padding-top:20px;">GREEN</h3>
                            <h5 style="float:right; color:blueviolet; padding-top:20px;">man</h5>
                        </a>
                    </div>
                    <!-- /logo -->

                    <!-- nav -->
                    <ul class="nav-menu nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li>
                            <button class="aside-btn-vegetables dropbtn">Vegetables <i class="fa fa-caret-left"></i></button>
                        </li>
                        <li>
                            <a href="/fruits">Fruits</a>
                        </li>
                        <li>
                            <a href="/berries">Berries</a>
                        </li>
                        <li>
                            <a href="/nuts">Nuts</a>
                        </li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contacts</a></li>
                    </ul>
                    <!-- /nav -->

                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="aside-btn"><i class="fa fa-bars"></i></button>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div class="search-form">
                            <input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
                            <button class="search-close"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Main Nav -->

            <!-- Aside Nav-vegetables -->
            <div id="nav-aside-vegetables">
                <!-- nav -->
                <div class="section-row">
                    <!--widget post-->
                    <div class="post post-widget">
                        <a class="post-img" href="/vegetables_green"><img src="/images/navbar/green-vegetables.png" alt=""></a>
                        <div class="post-body">
                            <h2 class="aclonica "><a class="col-green dark-green" href="/vegetables_green">GREEN</a></h2>
                        </div>
                    </div>
                    <div class="post post-widget">
                        <a class="post-img" href="/vegetables_red"><img src="/images/navbar/red_vegetables.jpeg" alt=""></a>
                        <div class="post-body">
                            <h2 class="aclonica "><a class="col-red dark-red" href="/vegetables_red">RED</a></h2>
                        </div>
                    </div>
                    <div class="post post-widget">
                        <a class="post-img" href="/vegetables_orange"><img src="/images/navbar/orange_vegetables.png" alt=""></a>
                        <div class="post-body">
                            <h2 class="aclonica "><a class="col-orange dark-orange" href="/vegetables_orange">ORANGE</a></h2>
                        </div>
                    </div>
                    <div class="post post-widget">
                        <a class="post-img" href="/vegetables_purple"><img src="/images/navbar/purple_vegetables.jpg" alt=""></a>
                        <div class="post-body">
                            <h2 class="aclonica "><a class="col-purple dark-purple" href="/vegetables_purple">PURPLE</a></h2>
                        </div>
                    </div>
                    <!--ent widget post-->
                    <!-- aside nav close -->
                    <button class="nav-aside-close" id="nav-close-vegetables"><i class="fa fa-times"></i></button>
                    <!-- /aside nav close -->
                </div>
            </div>
            <!--end aside nav-vegetables-->



            <!-- Main Aside Nav -->
            <div id="nav-aside">
                <!-- nav -->
                <div class="section-row">
                    <ul class="nav-aside-menu">
                        <li id="nav-close">
                            <div class="post post-widget">
                                <a class="post-img" href="#"><img src="/images/navbar/nav_vegetables.png" alt=""></a>
                                <div class="post-body">
                                    <p><a href="#!" class="aside-btn-vegetables akronim dark-gray">Vegetables</a></p>
                                </div>
                            </div>
                        </li>
                        <li id="nav-close">
                            <div class="post post-widget">
                                <a class="post-img" href="/fruits"><img src="/images/navbar/nav_fruits.png" alt=""></a>
                                <div class="post-body">
                                    <p><a class="akronim dark-gray" href="/fruits">Fruits</a></p>
                                </div>
                            </div>
                        </li>
                        <li id="nav-close">
                            <div class="post post-widget">
                                <a class="post-img" href="/berries"><img src="/images/navbar/nav_berries.png" alt=""></a>
                                <div class="post-body">
                                    <p><a class="akronim dark-gray" href="/berries">Berries</a></p>
                                </div>
                            </div>
                        </li>
                        <li id="nav-close">
                            <div class="post post-widget">
                                <a class="post-img" href="/nuts"><img src="/images/navbar/nav_nuts.png" alt=""></a>
                                <div class="post-body">
                                    <p><a class="akronim dark-gray" href="/nuts">Nuts</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /nav -->
                <!-- social links -->
                <div class="section-row">
                    <ul class="nav-aside-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contacts</a></li>
                    </ul>
                    <h3>Follow us</h3>
                    <ul class="nav-aside-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <!-- /social links -->
                <!-- aside nav close -->
                <button class="nav-aside-close"><i class="fa fa-times"></i></button>
                <!-- /aside nav close -->
            </div>
            <!-- / End Main Aside Nav -->
        </div>
        <!-- /Nav -->
    </header>
    <!-- /Header -->
    <%- body %>
        <!-- Footer -->
        <footer id="footer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-5">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/" class="logo"><img src="/images/logo.png" alt=""></a>
                            </div>
                            <ul class="footer-nav">
                                <li><a href="http://novators.ddns.net:3000/">Oleg Roshchuk</a></li>
                            </ul>
                            <div class="footer-copyright">
                                <span>&copy; Copyright &copy;
                <script>document.write(new Date().getFullYear());
                </script>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-widget">
                <h3 class="footer-title">About Us</h3>
                <ul class="footer-links">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/contact">Contacts</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-widget">
                <h3 class="footer-title">Vegetables</h3>
                <ul class="footer-links">
                  <li><a href="/vegetables_green">Greens</a></li>
                  <li><a href="/vegetables_red">Red</a></li>
                  <li><a href="/vegetables_orange">Orange</a></li>
                  <li><a href="/vegetables_purple">Purple</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="footer-widget">
            <h3 class="footer-title">Join our Newsletter</h3>
            <div class="footer-newsletter">
              <form>
                <input class="input" type="email" name="newsletter" placeholder="Enter your email">
                <button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
              </form>
            </div>
            <ul class="footer-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </footer>
  <!-- /Footer -->

  <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->


  <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


  <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
