html {
    padding-top:12px;
    scroll-behavior: smooth;
}
body {
    padding-top: 52px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-img {
    width: 150px;
    height: 150px;
}

    .container-img img {
        width: 150px;
        height: auto;
    }

#txtGreeting {
    color: #114655;
    font-size: 3rem;
    font-weight: bolder;
    padding: 20px;
    text-shadow: 6px 4px 16px #000;
}

.red_color {
    color: #ff0000
}
.blue_color{
    color:#2b63d8
}

#txt {
    color: #07374d;
    font: bold 18px arial, verdana;
    padding:30px;
}
strong {
    font-weight: bold;
}
#col-p{
    padding:15px 15px 1px 5px;
}
.link-text{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
#mycard {
    box-shadow: 0 0 25px gray, 0 0 5px darkgray;
    transition: all .3s ease-in-out;
}
#mycard:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.button-link {
    background: none !important;
    color: #007bff;
    border: none;
    padding: 1 !important;
    font: inherit;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
   
}
.modal-header, .modal-footer{
    background-color:#d8e8f3;
}
/* ----- */
#myImg {   
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
        opacity: 0.5;
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);

}
/* The Modal (background) */
#myModal, #myMovieModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
#img01, #videoFrame {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
#img01, #videoFrame, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
/* The Close Button */
.close {
    /*position: absolute;*/
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
 }
/*---------------------Google fonts----------------------*/
/*Google fonts*/
 /* latin */
@font-face {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    src: local('Sofia'), local('Sofia-Regular'), url(https://fonts.gstatic.com/s/sofia/v7/8QIHdirahM3j_su5uI0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

}
/* latin */
@font-face {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: local('Acme Regular'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v7/RrQfboBx-C5_XxrBbg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Cutive';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive'), local('Cutive-Regular'), url(https://fonts.gstatic.com/s/cutive/v10/NaPZcZ_fHOhV3IpLRvJCkyo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cutive';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive'), local('Cutive-Regular'), url(https://fonts.gstatic.com/s/cutive/v10/NaPZcZ_fHOhV3IpLSPJC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'), url(https://fonts.gstatic.com/s/cuprum/v10/dg4k_pLmvrkcOkBNK-tCt70.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'), url(https://fonts.gstatic.com/s/cuprum/v10/dg4k_pLmvrkcOkBNIutCt70.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'), url(https://fonts.gstatic.com/s/cuprum/v10/dg4k_pLmvrkcOkBNKetCt70.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'), url(https://fonts.gstatic.com/s/cuprum/v10/dg4k_pLmvrkcOkBNKOtCt70.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'), url(https://fonts.gstatic.com/s/cuprum/v10/dg4k_pLmvrkcOkBNJutC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.sofia{
    font-family:Sofia;
}
.acme{
    font-family:Acme;
}
.cutive{
    font-family:Cutive;
}
.curum{
    font-family:Cuprum;
}
/*-------------end google fonts------------*/
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #img01 {
        width: 100%;
    }
}

/*img {
    width: 100%;
    height: auto;
}*/

/*media query*/
/*Extra small*/
@media /*only screen and*/ (max-width: 576px) {
    body {
        background-color: #2d3035;
        color: #ccc;
        
    }
    img {
        padding:15px;
        border-radius:4px;
    }
    #txt {
        color:#1a6c83;
        text-shadow: 6px 4px 16px #000;
    }
    #txtGreeting {
        color: #1a6c83;
        font-size: 2rem;
        font-weight: bolder;
        padding: 20px;
        text-shadow: 6px 4px 16px #000;
    }
    .bio{
        font-family:Cuprum;
    }
    /*for review*/
    .img-left {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .img-right {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .text-left {
      
    }

    .text-right {
       
    }
    .img-m {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .google_text {
        font-family: Cuprum;
    }
}
/*medium - portrait*/
@media (min-width:577px ) and (max-width: 768px) {
    /*for review*/
    .img-left {
        margin-bottom: 10px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
       
    }

    .img-right {
        margin-bottom: 10px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
     
    }
    .text-left {
        
    }

    .text-right {
       
    }
    .img-m {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .google_text {
        font-family: Cuprum;
    }
}
/*medium - landscape*/
@media (min-width:768px ) and (max-width: 991px) {
    /*for review*/
    .img-left {
        float: left;
        margin:10px;      
    }

    .img-right {
        float: right;
        margin:10px;       
    }
    .text-left {
       
    }

    .text-right {
        
    }
    .google_text {
        font-family: Acme;
    }
    .img-m {      
        height: auto;
        width: auto;
        max-width: 50%;
        max-height: 50%;
    } 
}

@media (min-width:577px ) and (max-width: 991px) {
    body {
            background-color: lightgray;
            color: #343c3e;
        }

    ol, ul {
            list-style: none;
            font-weight: bolder;
        }

    .bio {
            font-family: Acme;
        }

    #txt {
            text-shadow: 4px 2px 8px darkgray; }
}
/*lagre and extra lagre*/
@media (min-width:991px) {
    body {
            background-color: white;
    }

    .myName {
            font-size: 48px;
            font-family: Cuprum;
    }

    .text-primary {
            font-weight: bold;
    }

    .txt-danger {
            font-weight: bold;
    }

    .bio {
            font-family: Sofia;
    }
    /*for review*/
    .img-left {
        float: left;
        margin: 10px;     
    }
    .img-right {
        float: right;
        margin: 10px;      
    }
    .text-left {
        font-family: Cutive;      
        overflow:hidden;
       
    }
    .text-right {
        font-family: Cutive;         
        overflow:hidden;
    }
   
    .google_text{
        font-family: Cutive;
    }   
    .img-m {
        height: auto;
        width: auto;
        max-width: 50%;
        max-height:50%;
    }  
}


.nav-top {
    margin-top: 66px;

}
.text-m {
    text-indent:2em;
    display: inline-block;
    text-align: left;
    padding-right: 35px;
}
.img-icon{
    width:5%;
    height:auto;
}
