<!DOCTYPE html>
<html lang="en-us">
<% include ../shared/_head_bootstrap_4 %>
<body onload="startTime()">
    <!-- Navigation -->
    <% include ../shared/_nav %>
    <!--End Navigation-->

    <div class="container">
        <header class="page-header">
            <div class="sofia" id="txtGreeting"></div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!--Column 1 'Contact info' xl, sm, md, lg, xl-->
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-padding">
                <div class="container-img mx-auto text-center">
                    <img id="myImg" class="img-fluid" onclick="openModal('myModal','img01','caption',this.src,this.alt)" src="wwwroot/images/profilepicture.jpg" />
                </div>
                <p>
                    <span class="blue_color">Name:</span> <strong>Oleg Roshchuk</strong>
                </p>
                <p>
                    <span class="blue_color">Phone Number: </span><strong>(425) 235-2352</strong>
                </p>
                <p>
                    <span class="blue_color">Email address:</span> <strong>xxxxx@rtc.edu</strong>
                </p>
            </div>
            <!--Column 2 'Bio'  xl, sm, md, lg, xl -->
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" id="col-p">
                <h4>Biography</h4>
                <p>
                    <span class="red_color">
                        Bio:
                    </span> My name is Oleg Roshchuk, I was born in Ukraine.
                    I'm married and have four childern.
                    I really like the outdoors and every change I get I will take a trip to Eastern Washington. Also, I really like going to the Hood Canal.
                    I achieved my Associates degree in Computer Science at RTC with honors in 2017.
                    I am currently working on my Bachelor of Applied Science in Application Development.<br />
                </p>
            </div>
            <!--Column 3-1'Education' md, lg, xl-->
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-none d-md-block">
                <h4>Education</h4>
                <ul>
                    <li>
                        Renton Technical College, Renton, WA
                        <ul>
                            <li>
                                Computer Science Bachelor of Applied Science degree
                                Expected graduation 08/19
                            </li>
                            <li>
                                Computer Science Associate of Applied Science degree
                                Graduated:  8/2017

                            </li>
                        </ul>
                    </li>
                    <li>
                        Training School, Lutsk, UA
                        <ul>
                            <li>
                                Operator of Ammonium Refrigerators and Air Compressors
                                Graduated November 1997
                            </li>
                        </ul>
                    </li>
                    <li>
                        Army
                        <ul>
                            <li>
                                Military School of radio communication
                                Graduated May 1989
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--Column 3-2 md-->
                <div class="col-md-12 d-none d-md-block d-lg-none d-xl-none">
                    <h4>Experience</h4>
                    <p>
                        At RTC, I am currently working as an Office Assistant for Workstudy.
                        Also I've worked as a Tutor for some time, specializing in C# and Mathetmics.
                        I am intrested in Machine Learnign.
                        I've been able to create many interesting projects at RTC including a Sport Store (based on "Pro ASP.NET MVC 5" Adam Freeman, and used Bootstrap 4)  which I uploaded to Azure and can be seen in the following link:
                        <a href="https://oroshch.azurewebsites.net/" title="Sport Store with Digital Assistant" target="_blank" data-toggle="popover" data-trigger="hover"> <strong>Website with DA</strong></a>
                        This website can be navigated using your voice.
                        Before starting my career in Computer Science, my last 10 years I have spent working as a fabricator at Velgus Granite.
                        Some of my work I am proud of. Press on image to zoom.
                        <div class="mx-auto text-center">
                            <img id="myImg" onclick="openModal('myModal','img01','caption',this.src,this.alt)" src="wwwroot/images/kitchen.jpg" style="width:100%;max-width:100px">
                        </div>
                    </p>
                </div>
            </div>

            <!--Column 4 only for xl-->
            <div class="col-xl-2 d-none d-xl-block">
                <h4>Experience</h4>
                <p>
                    At RTC, I am currently working as an Office Assistant for Workstudy.
                    Also I've worked as a Tutor for some time, specializing in C# and Mathetmics.
                    I am intrested in Machine Learnign.
                    I've been able to create many interesting projects at RTC including a Sport Store (based on "Pro ASP.NET MVC 5" Adam Freeman, and used Bootstrap 4)  which I uploaded to Azure and can be seen in the following link:
                    <a href="https://oroshch.azurewebsites.net/" title="Sport Store with Digital Assistant" target="_blank" data-toggle="popover" data-trigger="hover"> <strong>Website with DA</strong></a>
                    This website can be navigated using your voice.
                    Before starting my career in Computer Science, my last 10 years I have spent working as a fabricator at Velgus Granite.
                    Some of my work I am proud of. Press on image to zoom.
                    <div class="mx-auto text-center">
                        <img id="myImg" onclick="openModal('myModal','img01','caption',this.src,this.alt)" src="wwwroot/images/kitchen.jpg" style="width:100%;max-width:100px">
                    </div>
                </p>
            </div>

            <!--Column with sub-columns lg xs-->
            <div class="col-lg-3 col-sm-12 col-xs-12 d-md-none d-sm-none d-xs-block d-lg-block d-xl-none">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h4 class="font-italic text-info">Movies:</h4>
                        <ul>
                            <li>Anne from Green Gables</li>
                            <li>War Room</li>
                            <li>October Baby</li>
                            <li>love Come Softly</li>
                            <li>Amish Forgivenees</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4 class="font-italic text-info">Books:</h4>
                        <ul>
                            <li>Holy Bible</li>
                            <li>God is With You Every Day</li>
                            <li>Spiritual Disciplines for the Chistian Life</li>
                            <li>The Seven Laws of the Learner</li>
                            <li>All of Grace</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Column 5 only for xl-->
            <div class="col-xl-2 d-none d-xl-block">
                <h4 class="font-italic text-info">Movies:</h4>
                <ul>
                    <li>Anne from Green Gables</li>
                    <li>War Room</li>
                    <li>October Baby</li>
                    <li>love Come Softly</li>
                    <li>Amish Forgivenees</li>
                </ul>
            </div>
            <!--Column 6 only for xl-->
            <div class="col-xl-2 d-none d-xl-block">
                <h4 class="font-italic text-info">Books:</h4>
                <ul>
                    <li>Holy Bible</li>
                    <li>God is With You Every Day</li>
                    <li>Spiritual Disciplines for the Chistian Life</li>
                    <li>The Seven Laws of the Learner</li>
                    <li>All of Grace</li>
                </ul>

            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../shared/_footer %>
    <!-- Footer -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span onclick="closeModal('myModal')" class="close">&times;</span>
        <img class="modal-content" id="img01" />
        <div id="caption"></div>
    </div>
</body>
</html>