<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('images/berries/header_berries.jpg');"></div>
</div>
<!-- /Page Header -->

<div class="container-fluid">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <div class="animate three berry">
                    <span>B</span><span>E</span><span>S</span><span>T</span> &nbsp;
                    <span>B</span><span>E</span><span>R</span><span>R</span><span>I</span><span>E</span><span>S</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- post 1 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/blackberries.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-6" href="#">BLACKBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Blackberries were perceived by the ancient cultures as being a wild plant, and historical accounts for a backyard culture of blackberry bushes are few. The Greeks used the blackberry as a remedy for Gout, and the Romans made a tea from the leaves of the
                            blackberry plant to treat various illnesses.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Blackberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:black;">Blackberries, raw nutrition facts and analysis per
                                        servign</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post-->
        <div class="clearfix visible-xs"></div>
        <!-- post 2 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/raspberries.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-5" href="#">RASPBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Believe it or not, a few hundred years ago, all cultivated carrots were purple; the orange carrot wasn't cultivated until the late 16th century. It's unsurprising to see purple carrots sprouting up again given their stunning colour coupled with their
                            anti-inflammatory properties and antioxidants.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Raspberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:rgb(255, 0, 0);">Carrots, raw nutrition facts and analysis per
                                        serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-xs visible-sm"></div>
        <!-- post 3 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/blueberries.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-4" href="#">BLUEBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            This purple yam is a staple of Filippino cuisine where it is used in both savoury and sweet dishes. Ube is rich in fiber and contains virtually no fat - it's a great purple vegetable to add to your daily rotation.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Blueberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:darkblue;">Blueberries, raw nutrition facts and analysis per
                                        serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-md visible-xs"></div>
        <!-- post 4 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/gooseberries.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="#">GOOSEBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Red onions, botanically classified as Allium cepa, is a general descriptor used to encompass many different varieties of onions with red skin that are members of the Amaryllidaceae family.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Gooseberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:darkolivegreen;">Gooseberries, raw nutrition facts and analysis per
                                        serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-xs visible-sm visible-lg"></div>
        <!-- post 5 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/chokeberry.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-6" href="#">CHOKEBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Red cabbage is another awesome purple vegetable packed with antioxidants, nutrients, vitamins and minerals, as well as dietary fibre.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Chokecherries%2C_pitted_%28Shoshone_Bannock%29%2C_raw_nutritional_value.html">
                                <h4><i style="color:black;">Chokeberries, raw, red nutrition facts and analysis per
                                        serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-xs"></div>
        <!-- post 6 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/cloudberry.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="#">CLOUDBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Radicchio looks like red cabbage, but it’s actually a chicory family member. This leaf is typically used for an accent in salads because of its steep cost as most radicchio lettuce arrives from Italy. Radicchio was first grown commercially in California
                            in 1981.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Cloudberries%2C_raw_%28Alaska_Native%29_nutritional_value.html">
                                <h4><i style="color:orange;">Cloudberries, raw (Alaska Native) nutrition facts and
                                        analysis per serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-xs visible-sm visible-md"></div>
        <!-- post 7 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/elderberries.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-6" href="#">ELDERBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Purple potatoes, botanically classified as Solanum tuberosum, is a general name encompassing dozens of heirloom and conventional varieties including Purple Peruvian, All Blue, Congo, Vitilette, and Purple Majesty. Purple potatoes are grown in both domestic
                            and commercial capacities and have recently increased in popularity due to a market shift for antioxidant-rich foods. In addition to nutritional sustenance, Purple potatoes are also used as a natural dye in fruit drinks, vitamin
                            waters, and ice cream.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Elderberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:black;">Elderberries, raw flesh and skin nutrition facts and
                                        analysis per serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-xs"></div>
        <!-- post 8 -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/white-mulberry.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="#">WHITE MULBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Beetroot (sometimes called table beet, garden beet, red or golden beet, or just beet) is a taproot part of the beet plant. It is used for nourishment, but it also has use in food coloring and medicine. It can be used anywhere between raw to heavily processed.
                            The red pigments in beets are called betalains. These strong antioxidants are present in each cell in the beetroot.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Mulberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:rgb(199, 161, 91);">Mulberries, raw nutrition facts and analysis per
                                        serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <div class="clearfix visible-xs visible-sm visible-lg"></div>
        <!-- post 9 -->
        <div class="hidden-lg hidden-sm col-md-4 col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/salmonberry.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="#">SALMONBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Purple potatoes, botanically classified as Solanum tuberosum, is a general name encompassing dozens of heirloom and conventional varieties including Purple Peruvian, All Blue, Congo, Vitilette, and Purple Majesty. Purple potatoes are grown in both domestic
                            and commercial capacities and have recently increased in popularity due to a market shift for antioxidant-rich foods. In addition to nutritional sustenance, Purple potatoes are also used as a natural dye in fruit drinks, vitamin
                            waters, and ice cream.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Salmonberries%2C_raw_%28Alaska_Native%29_nutritional_value.html">
                                <h4><i style="color:sandybrown;">Salmonberries, raw flesh and skin nutrition facts and
                                        analysis per serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <!--post for lg md-->
        <div class="col-lg-12  col-sm-12 visible-lg hidden-md visible-sm">
            <div class="post post-row">
                <a class="post-img" href="#"><img src="/images/berries/salmonberry.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="#">SALMONBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">
                            Purple potatoes, botanically classified as Solanum tuberosum, is a general name encompassing dozens of heirloom and conventional varieties including Purple Peruvian, All Blue, Congo, Vitilette, and Purple Majesty. Purple potatoes are grown in both domestic
                            and commercial capacities and have recently increased in popularity due to a market shift for antioxidant-rich foods. In addition to nutritional sustenance, Purple potatoes are also used as a natural dye in fruit drinks, vitamin
                            waters, and ice cream.
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Salmonberries%2C_raw_%28Alaska_Native%29_nutritional_value.html">
                                <h4><i style="color:sandybrown;">Salmonberries, raw flesh and skin nutrition facts and
                                            analysis per serving</i></h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/post for lg md-->
        <div class="clearfix visible-xs visible-md"></div>
        <!-- post 10 -->
        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
            <div class="post">
                <a class="post-img" href="#"><img src="/images/berries/strawberries.jpg" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-5" href="#">STRAWBERRIES</a>
                    </div>
                    <div class="post-title">
                        <div class="resp-txt">

                            <div class="post post-row">
                                <a class="post-img" href="#"><img src="/images/berries/flower.gif" alt=""></a>
                                <div class="post-body">
                                    <h3 class="post-title" style="color:red;">Strawberries Fruit or Berry</h3>
                                    <div class="resp-txt">
                                        Botanically, a fruit is the ovary of a flowering plant (think of how oranges, bananas, apples, etc, have seeds in them). However, the strawberry doesn't actually develop from the ovary of the plant, so it isn't a standard botanical fruit. "Technically,
                                        the strawberry is an aggregate accessory fruit, meaning that the fleshy part is derived not from the plant's ovaries but from the receptacle that holds the ovaries. Each apparent 'seed' (achene) on the outside of
                                        the fruit is actually one of the ovaries of the flower, with a seed inside it. " (StrawberryEsau, K. (1977). Anatomy of seed plants. John Wiley and Sons, New York.) In common use “fruit” is specifically used for
                                        fruits that are often sweet, especially tree fruits (but sour tree fruits are also considered “fruits”). The strawberry is a bit of an odd case though. Technically only the seeds on the surface of the strawberry
                                        are fruits. The “berry” itself is not developed from the ovary, but is the swollen stem of the plant.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Strawberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:red;">Strawberries, raw nutrition facts and analysis per serving</i>
                                </h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /post -->
        <!--post for lg md-->
        <div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md visible-sm">
            <div class="post post-row">
                <a class="post-img" href="#"><img src="/images/berries/strawberries.jpg" alt=""></a>

                <div class="post-body">
                    <div class="post post-row">
                        <a class="post-img" href="#"><img src="/images/berries/flower.gif" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-5" href="#">STRAWBERRIES</a>
                            </div>
                            <h3 class="post-title" style="color:red;">Strawberries Fruit or Berry</h3>
                            <div class="resp-txt">
                                Botanically, a fruit is the ovary of a flowering plant (think of how oranges, bananas, apples, etc, have seeds in them). However, the strawberry doesn't actually develop from the ovary of the plant, so it isn't a standard botanical fruit. "Technically,
                                the strawberry is an aggregate accessory fruit, meaning that the fleshy part is derived not from the plant's ovaries but from the receptacle that holds the ovaries. Each apparent 'seed' (achene) on the outside of the fruit
                                is actually one of the ovaries of the flower, with a seed inside it. " (StrawberryEsau, K. (1977). Anatomy of seed plants. John Wiley and Sons, New York.) In common use “fruit” is specifically used for fruits that are often
                                sweet, especially tree fruits (but sour tree fruits are also considered “fruits”). The strawberry is a bit of an odd case though. Technically only the seeds on the surface of the strawberry are fruits. The “berry” itself
                                is not developed from the ovary, but is the swollen stem of the plant.
                            </div>
                        </div>
                        <p>
                            <a href="https://www.nutritionvalue.org/Strawberries%2C_raw_nutritional_value.html">
                                <h4><i style="color:red;">Strawberries, raw nutrition facts and analysis per serving</i>
                                </h4>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/post for lg md-->
    </div>
    <!--/row-->
</div>
<!--/container-->