<div class="container">
    <div class="raw">
        <div class="span8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.0324001255817!2d-122.17853178419365!3d47.48928217917706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490680aeb46fb4d%3A0xbea6103358b4266f!2s3000+NE+4th+St%2C+Renton%2C+WA+98056!5e0!3m2!1sen!2sus!4v1552542258026"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="span4">
            <h2>RTC</h2>
            <address>
                        <strong>Washington State</strong><br>
                        3000 NE 4th St.<br>
                        Renton<br>
                        WA 98056<br>
                    
                        <abbr title="Phone">P:</abbr> (425) 235-2352
                    </address>
        </div>

    </div>
</div>