<div class="section">
    <div class="container">
        <div class="row">
            <div class="animate five-green">
                <span>T</span><span>r</span><span>o</span><span>p</span><span>i</span><span>c</span><span>a</span><span>l</span> &nbsp;
                <span>F</span><span>r</span><span>u</span><span>i</span><span>t</span><span>!</span>
                <span><img class="img-responsive" src="/images/fruit/chessnuts.png" alt=""></span>
            </div>
            <div class="container-carousel">
                <div id="carousel">
                    <figure><img class="img-responsive" src="/images/fruit/rambutan.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/mangosteen.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/lychee.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/guava.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/longan.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/durian.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/dragonfruit.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/kiwi.png" alt=""></figure>
                    <figure><img class="img-responsive" src="/images/fruit/persimmon.png" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- post 1 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/plum_mango.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Plum Mango </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md hidden-sm visible-xs"></div>
            <!-- post 2 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/apple.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Apple </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post 3 -->
            <div class="clearfix hidden-lg hidden-md visible-sm visible-xs"></div>
            <!-- post -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/lychee.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Lychee </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg visible-md hidden-sm visible-xs"></div>
            <!-- post 4 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/pock_melon.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Pock Melon</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-lg hidden-md visible-sm visible-xs"></div>
            <!-- post 5 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/mangosteen.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Mangosteen</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md hidden-sm visible-xs"></div>
            <!-- post 6-->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/papaya.png" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Papaya</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post  -->
            <div class="clearfix hidden-lg visible-md visible-sm visible-xs"></div>
            <!-- post 7 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/longan.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Longan</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md hidden-sm visible-xs"></div>
            <!-- post 8 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/guava.png" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Guava</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-lg hidden-md visible-sm visible-xs"></div>
            <!-- post 9 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/avocado.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Avocado</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg visible-md hidden-sm visible-xs"></div>
            <!-- post 10 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/dragonfruit.gif" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Dragonfruit</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md visible-sm visible-xs"></div>
            <!-- post 11 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/cherry.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Cherry</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md hidden-sm visible-xs"></div>
            <!-- post 12 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/durian.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Durian</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>
            <!-- post 13 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/green_mango.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Green Mongo</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md hidden-sm visible-xs"></div>
            <!-- post 14-->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/honey_melon.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Honey Melon</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg hidden-md visible-sm visible-xs"></div>
            <!-- post 15 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/persimmon.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Persimmon</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <div class="clearfix hidden-lg visible-md hidden-sm visible-xs"></div>
            <!-- post 16-->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="post">
                    <a class="post-img" href="#"><img class="img-responsive" src="/images/fruit/rose_apple.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <h3 class="cutive dark-gray">Rose Apple</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
        </div>
        <!--/row-->

    </div>
</div>